image:
  repository: "<aws_account_id>.dkr.ecr.eu-central-1.amazonaws.com/django-app"
  tag: "latest"
  pullPolicy: IfNotPresent

replicaCount: 2

service:
  type: ClusterIP
  port: 8000

env:
  DJANGO_SETTINGS_MODULE: "config.settings"
  DEBUG: "false"

resources: {}

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70
